@font-face {
    font-family: 'Pala';
    src: url("fonts/pala.ttf")  format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Palab';
    src: url("fonts/palab.ttf");
}

@font-face {
    font-family: 'Palabi';
    src: url("fonts/palabi.ttf");
}

@font-face {
    font-family: 'Palai';
    src: url("fonts/palai.ttf");
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url("fonts/ProximaNovaRegular.ttf");
}

body {
    font: 18px 'Pala';
    color: red;
    margin: 0;
    padding: 0;
}

div {
    width: 100%;
}

img {
    width: 100%;
}

#attic {
    max-width: 1294px;
    width: 100%;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 1056px;
}

#atticList {

}

#atticList li{
    display: inline-block;
    margin-right: 18px;
}

#loginWrap {
    font: 10px 'Pala';
    color: #004e96;
    border: 1px solid #004e96;
    border-radius: 10px; /* Радиус скругления */
    max-width: 116px;
    text-align: center;
    width: 116px;
    height: 27px;
}

#loginWrap span {
    vertical-align: -10px;
}

ul {
    list-style-type: none;
    display: inline-block;
    list-style-position: inside;
}

#nevskayaWrapList li {
    display: block;
}

#faberWrapList li {
    display: block;
}

#nevskayaWrapListTextWrap {
    font: 11px 'Pala';
    color: #605f5f;
}

#faberWrapListTextWrap {
    font: 11px 'Pala';
    color: #605f5f;
}

#loginDot {
    vertical-align: 56px;
}

#socialDot {
    vertical-align: 36px;
}

#socialDotList li {
    margin-right: 3px;
}

#menuLine {
    border-top: 2px dotted #004e96; /* Параметры линии */
    height: 18px; /* Высота блока */

}

#sidebarList li{
    font: 14px 'ProximaNovaRegular';
    color: #6e6d6d;
    list-style-type: none;
    display: inline-block;
    list-style-position: inside;
    margin-right: 40px;
}

#sidebar {
    max-width: 1294px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#sidebarList {
    margin-left: -10px;
    width: 100%;
    max-width: 1294px;
    min-width: 1056px;
}

#regblock {
    text-align: center;
    margin-left: -120px;
}

#regblock li {
    list-style-type: none;
    display: inline-block;
    list-style-position: inside;
}

.hAnnounce {
    font: 25px 'Pala';
    color: #004e96;
}

#regformDotList li{
    list-style-type: none;
    display: block;
    list-style-position: inside;
}

.sAnnounce {
    font: 17px 'Pala';
    color: #6e6d6d;
}

.mAnnounce {
    font: 16px 'Pala';
    color: #004e96;
}

#fonDot {
    width: 65.69%;
    max-width: 850px;
    margin-left: -257px;
}

#regblockWrap {
    height: 547px;
    margin-bot: 0;
    text-align: center;
}

#regformDot {
    vertical-align: top;
    width: 34.31%;
    max-width: 518px;
    text-align: center;
    height: 547px;
    margin-top: 34px;
    margin-left: -28px;
}

#fonDotWrap img{
    min-width: 830px;
}

input[type="submit"] {
    font: 13px 'Pala';
    background-color: #e80606;
    color: white;
    border: 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
}

input[type="text"] {
    height: 38px;
    width: 373px;
    border: 1px inset #004e96;
    border-radius: 25px;
    font: 13px 'ProximaNovaRegular';
    color: #727272;
    padding-left: 25px;
}

#id_email {
    height: 38px;
    width: 373px;
    border: 1px inset #004e96;
    border-radius: 25px;
    font: 13px 'ProximaNovaRegular';
    color: #727272;
    padding-left: 25px;
}

#regformList li{
    margin-top: 21px;
}

#hAnnounce {
    margin-top: 15px;
}

#sAnnounce {
    margin-top: 16px;
}

#mAnnounce {
    margin-top: 49px;
}

.headerWrap {
    width: 100%;
    with-max: 1294px;
    text-align: center;
    margin: 0;
}

h1 {
    color: #e80606;
    font: 32px 'Pali';
    margin: 0;
}

.circle {
      width: 36px;
      height: 36px;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      border-radius: 36px;
      border: 2px solid #0d5ca3;
      text-align: center;
}

.circleNum {
    font: 24px 'Palab';
    color: #0d5ca3;
    vertical-align: -9px;
}

.wtdTextWrap{
    font: 15px 'Pala';
    color: #605f5f;
    text-align: left;
}

#wtdList {
    text-align: center;
    width: 100%;
    max-width: 1294px;
    margin-top: 60px;
    margin-bottom: 63px;
}

.wtdListDotList li{
    display: inline-block;
}

.wtdNum {
    margin-right: 50px;
}

.wtdText {
    vertical-align: -15px;
    max-width: 334px;
}

.wtdListDot {
    display: inline-block;
    max-width: 482px;
    min-width: 482px;
    width: 37%;
    text-align: left;
    margin-bottom: 25px;
}

#wrdWrap {
    text-align: center;
}

#prizesWrap {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.prizeImgWrap {
    width: 242px;
    height: 242px;
}

.prizesDot {
    display: inline-block;
    vertical-align: top;
    margin-right: 29px;
}

.numPrize {
    font: 24px 'Pala';
    color: #004e96;
    padding-top: 40px;
}

.textRome span {
    font: 36px 'Pala';
    color: #605f5f;
}

.prizeExp {
    font: 22px 'Pala';
    color: #605f5f;
    padding-top: 23px;
}

#prizeLogoNev {
    width: 236px;
    height: 30px;
    margin-top: 38px;
}

#prizeLogoFaber {
    width: 133px;
    height: 39px;
    margin-left: 50px;
    margin-top: 18px;
}

#romeprizeWrap {

}

#imgRomeBack {
    width: 437px;
    float: left;
    margin-bottom: -402px;
    margin-left: -73px;
    margin-top: -1px;
}

#imgPenBack {
    width: 476px;
    float: left;
    margin-bottom: -402px;
    margin-left: 125px;
    margin-top: -1px;
}

.textRome {
    margin-top: 31px;
}

#footerWrap {
    max-width: 1294px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#footerback {
    float: left;
    margin-bottom: -196px;
}

#bfb {
    width: 11px;
}

#footerList {
    font: 18px 'Pala';
    color: #004e96;
}

#footerSocList {
    margin-top: 28px;
}

#footerSocList li {
    display: inline-block;
    margin-right: 28px;
}

.outofDot {
    display: inline-block;
    width: 50%
    min-width: 412px;
}

.oufofDotListDot {
    display: inline-block;
    text-align: left;
}

#wwfWrap {
    width: 72px;
    height: 93px;
}

#bbWrap {
    width: 143px;
    height: 46px;
}

#outofWrap {
    font: 22px 'Pala';
    color: #004e96;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#wwfImgWrap {
    vertical-align: -23px;
}

.outofText {
    margin-left: 30px;
}

#partnerWarp {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 998px;
}

#partnerList {
    text-align: center;
}

.partnerDot {
    display: inline-block;
    vertical-align: middle;
    padding-right: 22px;
}