@font-face {
    font-family: 'Pala';
    src: url("fonts/pala.ttf")  format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Palab';
    src: url("fonts/palab.ttf");
}

@font-face {
    font-family: 'Palabi';
    src: url("fonts/palabi.ttf");
}

@font-face {
    font-family: 'Palai';
    src: url("fonts/palai.ttf");
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url("fonts/ProximaNovaRegular.ttf");
}

body {
    font: 18px 'Pala';
    color: red;
    margin: 0;
    padding: 0;
}

div {
    width: 100%;
}

img {
    width: 100%;
}

#attic {
    max-width: 1294px;
    width: 100%;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 1056px;
}

#atticList {

}

#atticList li{
    display: inline-block;
    margin-right: 18px;
}

#loginWrap {
    font: 10px 'Pala';
    color: #004e96;
    border: 1px solid #004e96;
    border-radius: 10px; /* Радиус скругления */
    max-width: 116px;
    text-align: center;
    width: 116px;
    height: 27px;
}

#loginWrap span {
    vertical-align: -10px;
}

ul {
    list-style-type: none;
    display: inline-block;
    list-style-position: inside;
}

#nevskayaWrapList li {
    display: block;
}

#faberWrapList li {
    display: block;
}

#nevskayaWrapListTextWrap {
    font: 11px 'Pala';
    color: #605f5f;
}

#faberWrapListTextWrap {
    font: 11px 'Pala';
    color: #605f5f;
}

#loginDot {
    vertical-align: 56px;
}

#socialDot {
    vertical-align: 36px;
}

#socialDotList li {
    margin-right: 3px;
}

#menuLine {
    border-top: 2px dotted #004e96; /* Параметры линии */
    height: 18px; /* Высота блока */

}

#sidebarList li{
    font: 14px 'ProximaNovaRegular';
    color: #6e6d6d;
    list-style-type: none;
    display: inline-block;
    list-style-position: inside;
    margin-right: 40px;
}

#sidebar {
    max-width: 1294px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#sidebarList {
    margin-left: -10px;
    width: 100%;
    max-width: 1294px;
    min-width: 1056px;
}

#regblock {
    text-align: center;
    margin-left: -120px;
}

#regblock li {
    list-style-type: none;
    display: inline-block;
    list-style-position: inside;
}

.hAnnounce {
    font: 25px 'Pala';
    color: #004e96;
}

#regformDotList li{
    list-style-type: none;
    display: block;
    list-style-position: inside;
}

.sAnnounce {
    font: 17px 'Pala';
    color: #6e6d6d;
}

.mAnnounce {
    font: 16px 'Pala';
    color: #004e96;
}

#fonDot {
    width: 65.69%;
    max-width: 850px;
    margin-left: -257px;
}

#regblockWrap {
    height: 547px;
    margin-bot: 0;
    text-align: center;
}

#regformDot {
    vertical-align: top;
    width: 34.31%;
    max-width: 518px;
    text-align: center;
    height: 547px;
    margin-top: 34px;
    margin-left: -28px;
}

#fonDotWrap img{
    min-width: 830px;
}

input[type="submit"] {
    font: 13px 'Pala';
    background-color: #e80606;
    color: white;
    border: 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
}

input[type="text"] {
    height: 38px;
    width: 373px;
    border: 1px inset #004e96;
    border-radius: 25px;
    font: 13px 'ProximaNovaRegular';
    color: #727272;
    padding-left: 25px;
}

input[type="password"] {
    height: 38px;
    width: 373px;
    border: 1px inset #004e96;
    border-radius: 25px;
    font: 13px 'ProximaNovaRegular';
    color: #727272;
    padding-left: 25px;
}

#id_email {
    height: 38px;
    width: 373px;
    border: 1px inset #004e96;
    border-radius: 25px;
    font: 13px 'ProximaNovaRegular';
    color: #727272;
    padding-left: 25px;
}

#regformList li{
    margin-top: 21px;
}

#hAnnounce {
    margin-top: 15px;
}

#sAnnounce {
    margin-top: 16px;
}

#mAnnounce {
    margin-top: 49px;
}

.headerWrap {
    width: 100%;
    with-max: 1294px;
    text-align: center;
    margin: 0;
}

h1 {
    color: #e80606;
    font: 32px 'Pali';
    margin: 0;
}

.circle {
      width: 36px;
      height: 36px;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      border-radius: 36px;
      border: 2px solid #0d5ca3;
      text-align: center;
}

.circleNum {
    font: 24px 'Palab';
    color: #0d5ca3;
    vertical-align: -9px;
}

.wtdTextWrap{
    font: 15px 'Pala';
    color: #605f5f;
    text-align: left;
}

#wtdList {
    text-align: center;
    width: 100%;
    max-width: 1294px;
    margin-top: 60px;
    margin-bottom: 63px;
}

.wtdListDotList li{
    display: inline-block;
}

.wtdNum {
    margin-right: 50px;
}

.wtdText {
    vertical-align: -15px;
    max-width: 334px;
}

.wtdListDot {
    display: inline-block;
    max-width: 482px;
    min-width: 482px;
    width: 37%;
    text-align: left;
    margin-bottom: 25px;
}

#wrdWrap {
    text-align: center;
}

#prizesWrap {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.prizeImgWrap1 {
    width: 242px;
    height: 242px;
}

.prizesDot {
    display: inline-block;
    vertical-align: top;
    margin-right: 29px;
}

.numPrize {
    font: 24px 'Pala';
    color: #004e96;
    padding-top: 40px;
}

.textRome span {
    font: 36px 'Pala';
    color: #605f5f;
}

.prizeExp {
    font: 22px 'Pala';
    color: #605f5f;
    padding-top: 23px;
}

#prizeLogoNev {
    width: 236px;
    height: 30px;
    margin-top: 38px;
}

#prizeLogoFaber {
    width: 133px;
    height: 39px;
    margin-left: 50px;
    margin-top: 18px;
}

#romeprizeWrap {

}

#imgRomeBack {
    width: 437px;
    float: left;
    margin-bottom: -402px;
    margin-left: -73px;
    margin-top: -1px;
}

#imgPenBack {
    width: 476px;
    float: left;
    margin-bottom: -402px;
    margin-left: 125px;
    margin-top: -1px;
}

.textRome {
    margin-top: 31px;
}

#footerWrap {
    max-width: 1294px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#footerback {
    float: left;
    margin-bottom: -196px;
}

#bfb {
    width: 11px;
}

#footerList {
    font: 18px 'Pala';
    color: #004e96;
}

#footerSocList {
    margin-top: 28px;
}

#footerSocList li {
    display: inline-block;
    margin-right: 28px;
}

.outofDot {
    display: inline-block;
    width: 50%
    min-width: 412px;
}

.oufofDotListDot {
    display: inline-block;
    text-align: left;
}

#wwfWrap {
    width: 72px;
    height: 93px;
}

#bbWrap {
    width: 143px;
    height: 46px;
}

#outofWrap {
    font: 22px 'Pala';
    color: #004e96;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#wwfImgWrap {
    vertical-align: -23px;
}

.outofText {
    margin-left: 30px;
}

#partnerWarp {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 998px;
}

#partnerList {
    text-align: center;
}

.partnerDot {
    display: inline-block;
    vertical-align: middle;
    padding-right: 22px;
}

a   {
    text-decoration: none;
    color: #6e6d6d;
}

#sidebarList a {

}

a:hover {
    text-decoration: underline;
}

.menuSelected {
    text-decoration: underline;
    color: #004e96;
}

#parent_popup {
  background: #000;
  height: 100%;
  opacity: 0.95;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  color: #004e96;
}
#popup {
  text-align: center;
  background-color: white;
  height: 402px;
  position: fixed;
  top: 100px;
  left: 40%;
  color: #004e96;
  width: 526px;
  border-radius: 8px;
}

#loginlogo {
    max-width: 357px;
}

#authText {
    margin-top: -70px;
}

#authText span {
    font: 24px 'Pala';
}

#formAuthList {
    margin-top: -10px;
    padding: 0;
    width: 100%
}

#formAuthList li{
    margin-bottom: 10px;
}

.loginButListDot {
    display: inline-block;
    font: 13px 'Pali';
    text-decoration: underline;
    margin-left: 20px;
    margin-right: 16px;
}

#loginButList {
    margin-top: -10px;
    width: 100%;
    padding: 0;
}

#logoutBut {
    font: 14px 'Pala';
    background-color: #e80606;
    color: white;
    border: 1px solid #e80606;
    border-radius: 20px; /* Радиус скругления */
    max-width: 116px;
    text-align: center;
    width: 116px;
    height: 27px;
}

#logoutBut span {
    vertical-align: -7px;
}

#logoutWarpList li {
    display: block;
    font: 13px 'Pali';
    color: #6e6d6d;
    text-align: left;
}

#logoutText {
    margin-top: 5px;
    decoration: underline;
    margin-left: 17px;
}

#logoutText a{
    text-decoration: underline;
}

#contentWrap {
    text-align: center;
    margin: 50px 0;
}

#wrongPass {
    margin: 50px 0;
}

#wrongPass h1 {
    font: 20px 'Pali';
}

#formAuthWrapWrap {
    margin-bottom: 50px;
}

#logoother {
    max-width: 597px;
}

h2 {
    font: 15.5px 'Pala';
    color: #004e96;
    margin: 30px 0;
}

.h2Form {
    margin-bottom: -17px;
}

input[type="number"] {
    height: 38px;
    width: 373px;
    border: 1px inset #004e96;
    border-radius: 25px;
    font: 13px 'ProximaNovaRegular';
    color: #727272;
    padding-left: 25px;
}

#id_favorite {
    height: 38px;
    width: 403px;
    border: 1px inset #004e96;
    border-radius: 25px;
    font: 13px 'ProximaNovaRegular';
    color: #727272;
    padding-left: 25px;
    background-color: white;
}

.fullRegDot {
    margin-top: 15px;
}

#fullRegWrap {
    margin-top: -20px;
}

#emailWrap {
    height: 38px;
    width: 373px;
    border: 1px inset #004e96;
    border-radius: 25px;
    font: 13px 'ProximaNovaRegular';
    color: #727272;
    padding-left: 25px;
    margin-bottom: 40px;
    text-align: left;
}

#emailWrap span {
    vertical-align: -7px;
    text-align: left;
}

#passwordForm {
    margin: 50px 0;
}

.prizeRowList li {
    display: inline-block;
}

.prizeRowTextList li {
    display: block;
}

.numPrizeFull {
    font: 24px 'Pala';
    color: #004e96;
}

.textRomeFull span {
    font: 36px 'Pala';
    color: #605f5f;
}

.prizeExpFull {
    font: 22px 'Pala';
    color: #605f5f;
}

#prizeLogoNevFull {
    width: 236px;
    height: 30px;
}

#prizeLogoFaberFull {
    width: 133px;
    height: 39px;
}

#fullPrizesList li {
    text-align: left;
    vertical-align: middle;
}

.prizeImgWrap {
    width: 400px;    
    height: 257px;
}

.outOfImg {
    width: 251px;
    height: 172px;
}

.prizesOutRowList li {
    display: inline-block;
    vertical-align: middle;
    margin: 12px 0;
}

.prizesOutTextWrap {
    max-width: 490px;
    width: 37.86%;
    min-width: 410px;
    text-align: left;
    color: #6e6d6d;
    font: 22px 'Pala';
}

.materialListDot {
    display: inline-block;
    vertical-align: top;
}

.materiaslRow li {
    display: block;
}

.materialTextWrap {
    color: #6e6d6d;
    font: 14px 'Pala';
}

#materialList {
    margin: 50px 0;
}

#ruleHeadaer {
    max-width: 704px;
    width: 56.71%;
    margin-left: auto;
    margin-right: auto;
}

#textruleWrap {
    white-space: pre-wrap;
    color: #6e6d6d;
    font: 14px 'Pala';
    text-align: left;
    max-width: 940px;
    widh: 72.643%;
    margin-left: auto;
    margin-right: auto;
}

#sponsorLogoNev {
    width: 327px;
    height: 34px;
}

#sponsorLogoFaber {
    width: 209px;
    height: 61px;
}

.sponsorsList li{
    display: inline-block;
}

.sponsorLogo {
    width: 455px;
    text-align: -webkit-center;
}

.sponsorName {
    font: 18px 'Pala';
    color: #004e96;
}

.sponsorType {
    font: 18px 'Palai';
    color: #6e6d6d;
}

.sponsorText {
    font: 14px 'Pala';
    color: #6e6d6d;
    white-space: pre-wrap;
}

.sponsorsText {
        width: 545px;
        vertical-align: top;
}

.sponsorfixList li {
    display: inline-block;
}

.sponsorsTextDot {
    text-align: left;
}

.sponsorsTextDot li {
    display: block;
}

.sponsorsList {
    margin-top: 50px;
}

#bigpartnerList {
    display: block;
    margin-top: 50px;
}

.bplDorWrap img {
    width: initial;
}

.bigpartnerRow li {
    display: inline-block;
    vertical-align: middle;
}

.bptDotWrapList li {
    display: block;
    text-align: left;
    max-width: 582px;

}

.text2Wrap{
    white-space: pre-wrap;
    font: 14px 'Pala';
    color: #6e6d6d;
}

.nameWrap {
    font: 18px 'Pala';
    color: #004e96;
}

.bplDorWrap {
    width: 320px;
}

.faqhead {
    font: 24px 'Pala';
    color: #004e96;
}

.faqListDot {
    display: inline-block;
    vertical-align: top;
}

.columListDot {
    display: block;
}

.faqtext {
    text-align: left;
    width: 290px;
}

.qwest {
    color: black;
    font: 14px 'Pala';
}

.answer {
    font: 14px 'Pala';
    color: #6e6d6d;
}

#socialWrap2 {
    display: inline;
    vertical-align: sub;
}

#socialDotList2 {
    margin: 0;
    padding: 0;
}

.juryImgWrap {
    width: 365px;
    height: 233px;
}

.juryName {
    font: 18px 'Pala';
    color: #004e96;
}

.juryTitle {
    font: 16px 'Palai';
    color: #a6a8af;
}

.juryPost {
    font: 14px 'Pala';
    color: #a6a8af;
    white-space: pre-wrap;
}

.jurysListDotList li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.juryText {
    max-width: 542px;
}

.juryTextWrap li {
    display: block;
    text-align: left;
}

.juristList li{

}

.juryTextWrap {
    margin-top: 10px;
}

.juryPost p{
    margin: 0;
    margin-top: -10px;
}

.juryPost ul{
    margin: 0;
    padding: 0;
    list-style-type: disc;
    display: inline-block;
}

.juryPost ul li{
    margin: 0;
    padding: 0;
    list-style-type: disc;
    margin-top: -10px;
}

.taskBut {
    font: 13px 'Pala';
    background-color: #e80606;
    color: white;
    border: 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
}

.taskBut span {
    vertical-align: -10px;
}

#tasksAuth li {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}

#taskRegLink {
    color: white;
}