<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <script src="{% static 'bh2017/jquery-3.1.1.min.js' %}"></script>
    {% block script %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'bh2017/style.css' %}" />
    <link rel="icon" href="{% static "bh2017/images/favicon-bitva.jpg"%}">
    <title>{% block title %} Всероссийская битва художников {% endblock %}</title>
</head>
<body>
    <div id="attic">
        <ul id="atticList">
            <li id="loginDot">
               <div id="loginWrap">
                    <span>ВОЙТИ</span>
               </div>
            </li>
            <li id="nevskayaDot">
                <div id="nevskayaWrap">
                    <ul id="nevskayaWrapList">
                        <li id="nevskayaWrapListLogoDot">
                            <div id="nevskayaWrapListLogoWrap">
                                <img src="{% static "bh2017/images/nevsakayalogo.png" %}" />
                            </div>
                        </li>
                        <li id="nevskayaWrapListTextDot">
                            <div id="nevskayaWrapListTextWrap">
                                <span>Генеральный спонсор</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="faberDot">
                <div id="faberWrap">
                    <ul id="faberWrapList">
                        <li>
                            <div>
                                <img src="{% static "bh2017/images/faberlogo.png" %}" />
                            </div>
                        </li>
                        <li>
                            <div id="faberWrapListTextWrap">
                                <span>Официальный спонсор</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li id="socialDot">
                <div id="socialWrap">
                    <ul id="socialDotList">
                        <li>
                            <div>
                                <img src="{% static "bh2017/images/vklogo.png" %}" />
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="{% static "bh2017/images/instalogo.png" %}" />
                            </div>
                        </li>
                        <li>
                            <div>
                                <img src="{% static "bh2017/images/fblogo.png" %}" />
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div id="menuLine"></div>
    </div>

    <div id="sidebar">
        {% block sidebar %}
            <ul id="sidebarList">
                <li>РЕГИСТРАЦИЯ</li>
                <li>ЗАДАНИЯ</li>
                <li>ПРИЗЫ</li>
                <li>ПРАВИЛА</li>
                <li>ЖЮРИ</li>
                <li>СПОНСОРЫ</li>
                <li>ПАРТНЕРЫ</li>
                <li>ВОПРОСЫ-ОТВЕТЫ</li>
            </ul>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>