{% extends 'bh2017/base.html'%}
{% load staticfiles %}
{% block script %}<script src="{% static 'bh2017/script.js' %}"></script>{% endblock %}
{% block title %} Всероссийская битва художников {% endblock %}

{% block content %}
    <div id="contentWrap">
        <div id="regblockWrap">
            <ul id="regblock">
                <li id="fonDot">
                    <div id="fonDotWrap">
                        <img src="{% static "bh2017/images/fon.jpg" %}" />
                    </div>
                </li>
                <li id="regformDot">
                    <ul id="regformDotList">
                        <li class="hAnnounce">ВСЕРОССИЙСКАЯ</li>
                        <li class="hAnnounce" id="hAnnounce">БИТВА ХУДОЖНИКОВ</li>
                        <li class="sAnnounce" id="sAnnounce">Начало 14 марта 2017 года</li>
                        <li class="mAnnounce" id="mAnnounce">ЗАРЕГИСТРИРУЙСЯ И ЖДИ ПЕРВОЙ ЗАДАНИЕ</li>
                        <li calss="regformDotDot">
                            <div id="formWrap">
                                <form action="{% url 'bh2017:addArtist' %}" method="POST" enctype="multipart/form-data">
                                    <p>{% csrf_token %}</p>
                                    <ul id="regformList">
                                        <li>{{ form.name }}</li>
                                        <li>{{ form.email}}</li>
                                        <li>
                                            <div id="submitId">
                                                <input id="registrationButton"type="submit" value="РЕГИСТРАЦИЯ" />
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="headerWrap"><h1>ЧТО НУЖНО ДЕЛАТЬ</h1></div>
        <div id="wrdWrap">
        <ul id="wtdList">
            <li class="wtdListDot">
                <ul class="wtdListDotList">
                    <li class="wtdNum">
                        <div class="circle"><span class="circleNum">1</span></div>
                    </li>
                    <li class="wtdText">
                        <div class="wtdTextWrap"><a href="{% url 'bh2017:registration' %}" style="text-decoration: underline">Зарегистрироваться</a> на сайте <br>bitvahudojnikov.ru</div>
                    </li>
                </ul>
            </li>
            <li class="wtdListDot">
                <ul class="wtdListDotList">
                    <li class="wtdNum">
                        <div class="circle"><span class="circleNum">2</span></div>
                    </li>
                    <li class="wtdText">
                        <div class="wtdTextWrap">Получать задания на сайте <br>в разделе <a href="{% url 'bh2017:tasks' %}" style="text-decoration: underline">"Задания"</a></div>
                    </li>
                </ul>
            </li>
            <li class="wtdListDot">
                <ul class="wtdListDotList">
                    <li class="wtdNum">
                        <div class="circle"><span class="circleNum">3</span></div>
                    </li>
                    <li class="wtdText">
                        <div class="wtdTextWrap">Подписаться на страницы конкурса <br>в
                            <div id="socialWrap2">
                                <ul id="socialDotList2">
                                    <li>
                                    <div>
                                        <a href="https://vk.com/bitvahudojnikov"><img src="{% static "bh2017/images/vklogo.png" %}" /></a>
                                    </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="https://www.instagram.com/bitvahudojnikov/"><img src="{% static "bh2017/images/instalogo.png" %}" /></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="https://www.facebook.com/bitvahudojnikov/"><img src="{% static "bh2017/images/fblogo.png" %}" /></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            и следить за новостями</div>
                    </li>
                </ul>
            </li>
            <li class="wtdListDot">
                <ul class="wtdListDotList">
                    <li class="wtdNum">
                        <div class="circle"><span class="circleNum">4</span></div>
                    </li>
                    <li class="wtdText">
                        <div class="wtdTextWrap">Выполнить 7 творческих заданий. <br><a href="{% url 'bh2017:rules' %}" style="text-decoration: underline">Читать правила</a></div>
                    </li>
                </ul>
            </li>
            <li class="wtdListDot">
                <ul class="wtdListDotList">
                    <li class="wtdNum">
                        <div class="circle"><span class="circleNum">5</span></div>
                    </li>
                    <li class="wtdText">
                        <div class="wtdTextWrap">Принять участие <br>в финальной битве </div>
                    </li>
                </ul>
            </li>
            <li class="wtdListDot">
                <ul class="wtdListDotList">
                    <li class="wtdNum">
                        <div class="circle"><span class="circleNum">6</span></div>
                    </li>
                    <li class="wtdText">
                        <div class="wtdTextWrap">Войти в число победителей и получить один <br>из <a href="{% url 'bh2017:prizes' %}" style="text-decoration: underline">потрясающих подарков!</a></div>
                    </li>
                </ul>
            </li>
        </ul>
        </div>
        <div class="headerWrap"><h1>СТАНЬ ЛУЧШИМ <br>И ПОЛУЧИ ОДИН ИЗ ТРЕХ СУПЕРПРИЗОВ</h1></div>
        <div id="prizesWrap">
            <ul id="prizesList">
                <li class="prizesDot">
                    <ul class="prizesDotList">
                        <li class="prizesDotListDot">
                            <div class="prizeImgWrap1" id="romeprizeWrap">
                                <img id="imgRomeBack" src="{% static "bh2017/images/romeback.jpg" %}">
                                <img src="{% static "bh2017/images/rome.png" %}">
                            </div>
                        </li>
                        <li class="prizesDotListDot">
                            <div class="numPrize"><span>ГЛАВНЫЙ <br>ПРИЗ:</span></div>
                        </li>
                        <li class="prizesDotListDot">
                            <div class="textRome"><span>билеты в Рим!</span></div>
                        </li>
                        <li class="prizesDotListDot">

                        </li>
                    </ul>
                </li>
                <li class="prizesDot">
                    <ul class="prizesDotList">
                        <li class="prizesDotListDot">
                            <div class="prizeImgWrap1" id="paintprizeWrap">
                                <img id="imgPenBack" src="{% static "bh2017/images/penback.jpg" %}">
                                <img src="{% static "bh2017/images/paint.png" %}">
                            </div>
                        </li>
                        <li class="prizesDotListDot">
                            <div class="numPrize"><span>ПРИЗ ЗА <br>ВТОРОЕ МЕСТО:</span></div>
                        </li>
                        <li class="prizesDotListDot">
                            <div class="prizeExp"><span>Большой набор <br>для творчества</span></div>
                        </li>
                        <li class="prizesDotListDot">
                            <div id="prizeLogoNev"><img src="{% static "bh2017/images/nevsakayalogo.png" %}"></div>
                        </li>
                    </ul>
                </li>
                <li class="prizesDot">
                    <ul class="prizesDotList">
                        <li class="prizesDotListDot">
                            <div class="prizeImgWrap1" id="penprizeWrap"><img src="{% static "bh2017/images/pens.png" %}"></div>
                        </li>
                        <li class="prizesDotListDot">
                            <div class="numPrize"><span>ПРИЗ ЗА <br>ТРЕТЬЕ МЕСТО:</span></div>
                        </li>
                        <li class="prizesDotListDot">
                            <div class="prizeExp"><span>Большой набор <br>для творчества</span></div>
                        </li>
                        <li class="prizesDotListDot">
                            <div id="prizeLogoFaber"><img src="{% static "bh2017/images/faberlogo.png" %}"></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="headerWrap"><h1>ВНЕКОНКУРСНЫЕ ПРИЗЫ</h1></div>
        <div id="outofWrap">
            <ul id="outofList">
                <li class="outofDot">
                    <ul class="outofDotList">
                        <li class="oufofDotListDot">
                            <div id="wwfWrap"><img id="wwfImgWrap"src="{% static "bh2017/images/wwflogo.jpg" %}"></div>
                        </li>
                        <li class="oufofDotListDot"><div class="outofText"><span>Сотрудничество с WWF<br>по созданию иллюстраций</span></div></li>
                    </ul>
                </li>
                <li class="outofDot">
                    <ul class="outofDotList">
                        <li class="oufofDotListDot">
                            <div id="bbWrap"><img src="{% static "bh2017/images/bblogo.jpg" %}"></div>
                        </li>
                        <li class="oufofDotListDot"><div class="outofText"><span>Онлайн-обучение<br>в Bang-Bang Education</span></div></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
