{% extends 'bh2017/base.html'%}
{% load staticfiles %}

{% block title %} Всероссийская битва художников {% endblock %}

{% block content %}
    <div id="contentWrap">
        <div id="regblockWrap">
            <ul id="regblock">
                <li id="fonDot">
                    <div id="fonDotWrap">
                        <img src="{% static "bh2017/images/fon.jpg" %}" />
                    </div>
                </li>
                <li id="regformDot">
                    <ul id="regformDotList">
                        <li class="hAnnounce">ВСЕРОССИЙСКАЯ</li>
                        <li class="hAnnounce">БИТВА ХУДОЖНИКОВ</li>
                        <li class="sAnnounce">Начало 14 марта 2017 года</li>
                        <li class="mAnnounce">ЗАРЕГЕСТРИРУЙСЯ И ЖДИ ПЕРВОЙ ЗАДАНИЕ</li>
                        <li calss="regformDotDot">
                            <div id="formWrap">
                                <form action="{% url 'bh2017:addArtist' %}" method="POST" enctype="multipart/form-data">
                                    <p>{% csrf_token %}</p>
                                    <ul id="regformList">
                                        <li>{{ form.name }}</li>
                                        <li>{{ form.email}}</li>
                                        <li>
                                            <div>
                                                <input type="submit" value="РЕГИСТРАЦИЯ" />
                                            </div>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}