{% extends 'bh2017/base.html'%}
{% load staticfiles %}

{% block title %} Всероссийская битва художников {% endblock %}
{% block sidebar %}
    <ul id="sidebarList">
                <li><a class="menuNone" href="{% url 'bh2017:registration' %}">РЕГИСТРАЦИЯ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:tasks' %}">ЗАДАНИЯ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:prizes' %}">ПРИЗЫ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:rules' %}">ПРАВИЛА</a></li>
                <li><a class="menuSelected" href="{% url 'bh2017:jury' %}">ЖЮРИ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:sponsors' %}">СПОНСОРЫ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:partners' %}">ПАРТНЕРЫ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:faq' %}">ВОПРОСЫ-ОТВЕТЫ</a></li>
            </ul>
{% endblock %}
{% block content %}
    <div id="contentWrap">
        <img id="logoother" src="{% static 'bh2017/images/logoother.jpg' %}">
        <h1>ЖЮРИ КОНКУРСА</h1>
        {% if jurys %}
            <ul id="jurysList">
                {% for jury in jurys%}
                <li class="jurysListDot">
                    <ul class="jurysListDotList">
                        <li class="juryImg">
                            <div class="juryImgWrap">
                                <img id="jury.id" src="{{ jury.docfile.url }}" alt="Reducto!" class="partnerLogo">
                            </div>
                        </li>
                        <li class="juryText">
                            <ul class="juryTextWrap">
                                <li class="juryName">
                                    <span>{{ jury.name }}</span>
                                </li>
                                <li class="juryTitle">
                                    <span>{{ jury.text }}</span>
                                </li>
                                <li class="juryPost">
{{ jury.Post2|safe }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}