{% extends 'bh2017/base.html'%}
{% load staticfiles %}

{% block title %} Всероссийская битва художников {% endblock %}
{% block sidebar %}
    <ul id="sidebarList">
                <li><a class="menuNone" href="{% url 'bh2017:registration' %}">РЕГИСТРАЦИЯ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:tasks' %}">ЗАДАНИЯ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:prizes' %}">ПРИЗЫ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:rules' %}">ПРАВИЛА</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:jury' %}">ЖЮРИ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:sponsors' %}">СПОНСОРЫ</a></li>
                <li><a class="menuSelected" href="{% url 'bh2017:partners' %}">ПАРТНЕРЫ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:faq' %}">ВОПРОСЫ-ОТВЕТЫ</a></li>
            </ul>
{% endblock %}
{% block content %}
    <div id="contentWrap">
        <a href="{% url 'bh2017:index' %}"><img id="logoother" src="{% static 'bh2017/images/logoother.jpg' %}"></a>
        <h1>ПАРТНЕРЫ КОНКУРСА</h1>
        <div id="bigpartnerListWrap">
            <ul id="bigpartnerList">
                {% if documents %}
                {% for document in documents %}
                <li>
                <ul class="bigpartnerRow">
                    <li class="bplDot">
                        <div class="bplDorWrap">
                            <a href="{{document.text}}">
                                <img id="{{document.id}}" src="{{ document.logo.url }}" alt="Reducto!" class="partnerLogo">
                            </a>
                        </div>
                    </li>
                    <li class="bptDot">
                        <div class="bptDotWrap">
                            <ul class="bptDotWrapList">
                                <li>
                                    <div class="nameWrap">
                                        <span>{{document.name }}</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="text2Wrap">
{{document.text2}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block partner %}
{% endblock %}


