{% extends 'bh2017/base.html'%}
{% load staticfiles %}

{% block title %} Всероссийская битва художников {% endblock %}
{% block sidebar %}
    <ul id="sidebarList">
                <li><a class="menuNone" href="{% url 'bh2017:registration' %}">РЕГИСТРАЦИЯ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:tasks' %}">ЗАДАНИЯ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:prizes' %}">ПРИЗЫ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:rules' %}">ПРАВИЛА</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:jury' %}">ЖЮРИ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:sponsors' %}">СПОНСОРЫ</a></li>
                <li><a class="menuSelected" href="{% url 'bh2017:partners' %}">ПАРТНЕРЫ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:faq' %}">ВОПРОСЫ-ОТВЕТЫ</a></li>
            </ul>
{% endblock %}
{% block content %}
    <div id="contentWrap">
        Partners
        {{ form }}
        </div>
    </div>
{% endblock %}