{% extends 'bh2017/base.html'%}
{% load staticfiles %}

{% block title %} Всероссийская битва художников {% endblock %}
{% block sidebar %}
    <ul id="sidebarList">
                <li><a class="menuNone" href="{% url 'bh2017:registration' %}">РЕГИСТРАЦИЯ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:tasks' %}">ЗАДАНИЯ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:prizes' %}">ПРИЗЫ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:rules' %}">ПРАВИЛА</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:jury' %}">ЖЮРИ</a></li>
                <li><a class="menuSelected" href="{% url 'bh2017:sponsors' %}">СПОНСОРЫ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:partners' %}">ПАРТНЕРЫ</a></li>
                <li><a class="menuNone" href="{% url 'bh2017:faq' %}">ВОПРОСЫ-ОТВЕТЫ</a></li>
            </ul>
{% endblock %}
{% block content %}
    <div id="contentWrap">
        <a href="{% url 'bh2017:index' %}"><img id="logoother" src="{% static 'bh2017/images/logoother.jpg' %}"></a>
        <h1>СПОНСОРЫ КОНКУРСА</h1>
        <ul class="sponsorsList">
            <li class="sponsorLogo">
                <div id="sponsorLogoNev">
                    <a href="http://www.nevskayapalitra.ru/"><img src="{% static "bh2017/images/nevsakayalogo.png" %}" /></a>
                </div>
            </li>
            <li class="sponsorsText">
                <ul class="sponsorsTextDot">
                    <li>
                        <div class = "sponsorName"><span>"НЕВСКАЯ ПАЛИТРА"</span></div>
                    </li>
                    <li>
                        <div class="sponsorType"><span>Генеральный спонсор</span></div>
                    </li>
                    <li>
                        <div class="sponsorText">
Компания “Невская палитра” представляет несколько линеек продукции: акварель, масло, темпера, акрил, гуашь, товары для декоративно-прикладного искусства.

На продукции завода всегда присутствует фирменный знак «Завода художественных красок» — красная палитра.

Материалы «Невской палитры» используются для реставрационных работ в Эрмитаже, Государственном Русском музее, Третьяковской галерее, росписей храма Христа Спасителя, собора Василия Блаженного, Большого Кремлевского дворца и многих других памятников архитектуры.

Неизменными потребителями продукции Завода являются мастера уникальных народных промыслов — Палеха, Мстеры, Холуя, Жостова, Павлова Посада, множества иконописных мастерских и церквей.

Завод активно участвует в общественной жизни, поддерживает профессиональное художественное образование, детское творчество и мероприятия, направленные на развитие искусства.
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="sponsorfixList">
            <li class="sponsorLogo">
                <div id="sponsorLogoFaber">
                    <a href="http://faber-castell.com.ru/"><img src="{% static "bh2017/images/faberlogo.png" %}" /></a>
                </div>
            </li>
            <li class="sponsorsText">
                <ul class="sponsorsTextDot">
                    <li>
                        <div class = "sponsorName"><span>FABER-CASTELL</span></div>
                    </li>
                    <li>
                        <div class="sponsorType">Официальный спонсор</div>
                    </li>
                    <li>
                        <div class="sponsorText">
Сегодня компания представлена в 120 странах, в 10 из которых имеет 14 производственных фабрик. Фабрика по производству карандашей в деревянном корпусе Фабер-Кастелл производит более 2000 миллионов черно-графитовых и цветных карандашей в год. Благодаря этим показателям компания занимает лидирующие позиции на международном рынке.

“Faber-Castell” до сих пор создаёт инновации, сохраняя при этом лучшие традиции в производстве, обеспечивая высокое качество всей продукции и экологическую безопасность.

                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
{% block partner %}
{% endblock %}